<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>Servlets.LoginCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTel</servlet-name>
    <servlet-class>Servlets.GetTel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTel</servlet-name>
    <url-pattern>/getTel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressList</servlet-name>
    <servlet-class>Servlets.AddressList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressList</servlet-name>
    <url-pattern>/addressList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataUpdate</servlet-name>
    <servlet-class>Servlets.DataUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataUpdate</servlet-name>
    <url-pattern>/DataUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebImplement</servlet-name>
    <servlet-class>test.WebImplement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebImplement</servlet-name>
    <url-pattern>/WebImplement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionTest3</servlet-name>
    <servlet-class>test.SessionTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest3</servlet-name>
    <url-pattern>/SessionTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>Servlets.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocsList</servlet-name>
    <servlet-class>Servlets.DocsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocsList</servlet-name>
    <url-pattern>/DocsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextTest</servlet-name>
    <servlet-class>test.ServletContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest</servlet-name>
    <url-pattern>/ServletContextTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>test.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/SessionTest2</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listeners.TimeoutListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
</web-app>